<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Balduran's Codex</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/LogBg3Armory.styles.css" asp-append-version="true"/>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Merriweather&display=swap" rel="stylesheet">
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-sm fantasy-navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Item" asp-action="Index">Balduran's Codex</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Item" asp-action="Index">🧙 Armory</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Loadout">⚔️ Character Loadout</a>
                            </li>
                            <li>
                                <a class="nav-link" asp-controller="Item" asp-action="BuildGuides">
                                    <span class="nav-text">Build Guides</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Privacy">📜 Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="flex-grow-1 d-flex align-items-start">
            <div class="container w-100">
                @RenderBody()
            </div>
        </main>

        
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>