@{
    ViewData["Title"] = "Build Guides";
}

<h2>BG3 Build Guides</h2>

<ul class="nav-links">
    <li>
        <a class="nav-link" asp-controller="Item" asp-action="CosmicHorror">
            <span class="nav-text">Cosmic Horror Warlock</span>
        </a>
    </li>
    <li>
        <a class="nav-link" asp-controller="Item" asp-action="TavernBrawler">
            <span class="nav-text">Tavern Brawler Monk</span>
        </a>
    </li>
    <li>
        <a class="nav-link" asp-controller="Item" asp-action="DrunkenThunderGod">
            <span class="nav-text">Drunken Thunder God</span>
        </a>
    </li>

</ul>